.datatable .col {
    cursor: pointer;
  }
  
  .datatable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
  }
  
  .datatable .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";
    margin-right: 0;
  }
  @media only screen and (max-width: 767px) {
    .datatable .col .pointer:after {
      display: block;
      font-size: 20%;
    }
    table.col{
      font-size: 10px;
    }
    /* td {
      display: block;
      align-items: center;
    } */
     /* th {
      display: block;
      align-items: center;
      margin-left: 50%;
    } */
  }
  